// (from Luuk's nextflow-gpseq)
// Set process parameters
process {
    executor = "slurm"
    queue = "cpuq"
}

// Set parameters for max resources
params {
    // Resource options
    max_memory = "256.GB"
    max_cpus = 32
    max_time = "72.h"
    
    // iGenome path
    igenomes_base = "/processing_data/reference_datasets/iGenomes/2023.1/"
}