// Config for running minimal tests

params {
	// input and output
	get_genome = "get_T2T"
	rois = "$HOME/prb-nextflow/tests/main/all_regions.tsv"
	max_memory = "24.GB"
	max_cpus = 8
	max_time = "4.h"	
}

process {
	container = "/group/bienko/containers/prb.sif"
}

// Singularity container
singularity {
    enabled = true
}