// Config for running minimal tests

params {
	// input and output
	samplesheet = "${baseDir}/assets/samplesheet.csv"
	outdir = "${baseDir}/results"
	
	// Reference genome
	genome = "hg38"
	fasta = "https://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.19.fa.gz"

	
	max_memory = "24.GB"
	max_cpus = 8
	max_time = "4.h"	
}